@model MVCBarcounsil.Models.casefiles

@{
    ViewBag.Title = "uploadfile";
    Layout = "~/Views/Shared/ClientsMaster.cshtml";
}


@using (Html.BeginForm("UploadFile3", "Client", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="col-md-3"> </div>
    <div class="col-md-6"> 
    <fieldset>
        <legend></legend>
      
        
       <div class="col-md-12">
              <div class="editor-label">
          
           
               <div class="col-md-12" style="height:10px"></div>
        </div>
            <div class="editor-field">
           
         @Html.HiddenFor(m => Model.caseid, new { @id = "LoginName", @class = "form-control",@readonly="readonly", @style = "float:left;margin-right:10px;margin-top:-5px;border-color:green;background-color:#d1c4c2;" })
                


       
             </div>
            <div class="editor-label">
            @Html.LabelFor(model => model.descri)
               <div class="col-md-12" style="height:10px"></div>
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(m => Model.descri , new { @id = "LoginName", @class = "form-control", @style = "float:left;margin-right:10px;margin-top:-5px;border-color:green;" })
            @Html.ValidationMessageFor(model => model.descri,null, new { style = "color: red" })
               <div class="col-md-12" style="height:10px"></div>
        </div>
            
             <div class="editor-label">
           @Html.LabelFor(model => model.files)
               <div class="col-md-12" style="height:10px"></div>
        </div>
        <div class="editor-field">
           @Html.TextBoxFor(m => Model.files, new { @id = "LoginName",  @type= "file", @class = "form-control", @style = "float:left;margin-right:10px;margin-top:-5px;border-color:green;" })
            @Html.ValidationMessageFor(model => model.files, null, new { style = "color: blue" })
        </div>
       

      
     
          <div class="col-md-12" style="height:50px"> </div>
           <input type="submit" class="btn btn-success" style="width:100%" value="Submit" />
     

     

        
</div>
    

        <div class="col-md-12" style="height:70px"> </div>

      
    </fieldset>
  </div>
     
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



