@model MVCBarcounsil.Models.uppointments

@{
    ViewBag.Title = "pendingappintments1";
    Layout = "~/Views/Shared/AdvocateMaster.cshtml";
}


<div class="col-md-12" style="text-align:center">
     <h2 style="text-align:center">Pending Appointments</h2>
</div>
<div class="col-md-12" style="text-align:right">
    
           
         
      
</div>
<div class="col-md-12" style="text-align:right;height:20px">
    
           
         
      
</div>

<table class="table" style="width:100%;background-color:#ebe7e7">
    <tr style="background-color:lightblue">
       
        <th>Client</th>
        <th>Date</th>
        <td>Description</td>
       
        <th>Status</th>
        <th></th>
        <th></th>
         
      @*  <th>Identification Mark</th>
        <th>Height</th>
        <th>Weight</th>
        <th>BloodGroup</th>
        <th>Age</th>
        <th>Hair Color</th>
        <th>Eye Color</th>
        <th>Rigorous</th>
        <th>Status</th>
        <th></th>*@
        
   </tr>
        @for (int i = 0; i < Model.dt.Rows.Count;i++ )
        {
           <tr>
           
        
            <td style="vertical-align:middle">@Model.dt.Rows[i]["pname"].ToString()</td>
       <td style="vertical-align:middle">@Model.dt.Rows[i]["dateshow"].ToString()</td>
           <td style="vertical-align:middle">@Model.dt.Rows[i]["descri"].ToString()</td>
            <td style="vertical-align:middle">@Model.dt.Rows[i]["status"].ToString()</td>
         
              @*  <td>@Model.dt.Rows[i]["idfmark"].ToString()</td>
                <td>@Model.dt.Rows[i]["age"].ToString()</td>
                <td>@Model.dt.Rows[i]["bloodgroup"].ToString()</td>
                <td>@Model.dt.Rows[i]["haircolour"].ToString()</td>
                <td>@Model.dt.Rows[i]["eyecolour"].ToString()</td>
                <td>@Model.dt.Rows[i]["rigorous"].ToString()</td>
                <td>@Model.dt.Rows[i]["status"].ToString()</td>*@
              
              
            
                <td style="vertical-align:middle">
               
                      
                @Html.ActionLink("Complete", "acceptappoi1", new { id=Model.dt.Rows[i]["apoid"].ToString()}, new  { @class = "btn btn-success"})
           

            </td>
               
              
         </tr>
        }

   
</table>









