@model MVCBarcounsil.Models.advinfo

@{
    ViewBag.Title = "getdiss";
    Layout = "~/Views/Shared/AdvocateMaster.cshtml";
}



<div class="col-md-12" style="text-align:center">
     <h2 style="text-align:center">Advocates</h2>
</div>
<div class="col-md-12" style="text-align:right">
    
           
         
      
</div>
<div class="col-md-12" style="text-align:right;height:20px">
    
           
         
      
</div>

<table class="table" style="width:100%;background-color:#ebe7e7">
    <tr style="background-color:lightblue">
        <th>Photo</th>
        <th>Name</th>
        <th>Address</th>
        <td>Mobile</td>
       
        <th>Qualification </th>
         <th>Barcounsil No</th>
         <th>Specilization</th>
         <th>Practice Area</th>
         <th>Fees</th>
        
        <th></th>
        <th></th>
      @*  <th>Identification Mark</th>
        <th>Height</th>
        <th>Weight</th>
        <th>BloodGroup</th>
        <th>Age</th>
        <th>Hair Color</th>
        <th>Eye Color</th>
        <th>Rigorous</th>
        <th>Status</th>
        <th></th>*@
        
   </tr>
        @for (int i = 0; i < Model.dt.Rows.Count;i++ )
        {
           <tr>
           
            <td style="vertical-align:middle"><img class="img-thumbnail" width="100" height="100" src="@Url.Action(@Model.dt.Rows[i]["photo"].ToString())" /></td>
            <td style="vertical-align:middle">@Model.dt.Rows[i]["name"].ToString()</td>
       <td style="vertical-align:middle">@Model.dt.Rows[i]["address"].ToString()</td>
           <td style="vertical-align:middle">@Model.dt.Rows[i]["mobile"].ToString()</td>
            <td style="vertical-align:middle">@Model.dt.Rows[i]["qualification"].ToString()</td>
            <td style="vertical-align:middle">@Model.dt.Rows[i]["barcounsilno"].ToString()</td>
            <td style="vertical-align:middle">@Model.dt.Rows[i]["specilization"].ToString()</td>
                 <td style="vertical-align:middle">@Model.dt.Rows[i]["practicearea"].ToString()</td>
             <td style="vertical-align:middle">@Model.dt.Rows[i]["fees"].ToString()</td>
              @*  <td>@Model.dt.Rows[i]["idfmark"].ToString()</td>
                <td>@Model.dt.Rows[i]["age"].ToString()</td>
                <td>@Model.dt.Rows[i]["bloodgroup"].ToString()</td>
                <td>@Model.dt.Rows[i]["haircolour"].ToString()</td>
                <td>@Model.dt.Rows[i]["eyecolour"].ToString()</td>
                <td>@Model.dt.Rows[i]["rigorous"].ToString()</td>
                <td>@Model.dt.Rows[i]["status"].ToString()</td>*@
              
              
            
                <td style="vertical-align:middle">
               
                      
                @Html.ActionLink("Send Query", "sendiscuss", new { id=Model.dt.Rows[i]["Advid"].ToString()}, new  { @class = "btn btn-danger"})
           

            </td>
               
                 <td style="vertical-align:middle">
               
                      
                @Html.ActionLink("View Query", "viewdiscuss", new { id=Model.dt.Rows[i]["Advid"].ToString()}, new  { @class = "btn btn-danger"})
           

            </td>
         </tr>
        }

   
</table>






